body {
  background: #000;
}

.wrapper {
  height: 100%;
  width: 100%;
}

#remoteVideo {
  position: relative;
  width: 100%;
  max-height: 100vh;
  z-index: -1;
}

#localVideo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  z-index: 0;
}

.chatArea {
  width: 50%;
  height: 50vh;
  background: #191818 !important;
  color: #fff; 
  position: fixed;
  top: 1%;
  left: 0.5%;
}

.chatArea .toolBar {
  position: relative;
  height: 10%;
  border-bottom:3px solid #2b2a2a;
}

.chatArea .toolBar .btn {
  position: absolute;
  right: 0;
  height: 100%;
  box-shadow: none !important;
}

.chatArea .msgBox {
  overflow-y: scroll;
  height: 80%;
  width: 100%;
  padding: 10px 20px 10px 20px;
}

.chatArea .msgBox p {
  border: 1px #2b2a2a solid;
  padding: 2%;
}

.chatArea .msgBox p.initiatorMsg {
  width: 90%;
  margin-left: 10%;
}

.chatArea .msgBox p.joinerMsg {
  width: 90%;
  margin-right: 10%;
}

.chatArea .msgInput {
  margin: 0 !important;
  background: #191818 !important;
  color: #fff;
  padding-left: 3% !important;
  border: 3px solid #2b2a2a !important;
  box-sizing: border-box !important;
}

.chatArea .msgInput:focus {
  outline: none !important;
  box-shadow: none !important;
}

.action-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-bottom: 0;
}

.action-buttons a {
  z-index: 1;
  display: block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  #localVideo {
    position: relative;
    width: 100%;
    max-height: 50vh;
  }

  #remoteVideo {
    max-height: 50vh;
  }

  .chatArea {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
} 
